<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD- con mysql</title>
    <link rel="stylesheet" href="https://remedial-4ak8.onrender.com/css/estilos.css">
    <link rel="stylesheet" href="CSS/estilos.css">
    <script src="js/scripts.js" defer></script>
</head>
<body>
    
 